<div class="footer">
      <div class="social-networks">
        <ul class="list-inline">
          <li>
            <a href="" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a href="" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            <a href="" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            <a href="" target="_blank"><i class="fa fa-youtube" aria-hidden="true"></i></a>
          </li>
        </ul>
        <p>This is a Airbnb Home challenge @ LeWagon</p>
      </div>
    </div>